/******************************************************* Home **********************************************/

body.lock {
    overflow: hidden;
  }
  
  .wrapper {
    background-color: floralwhite;
  }
  
  .name-link {
    text-align: center;
  
    li {
      list-style: none;
      display: inline-block;
      padding: 1rem;
  
      a {
        color: black;
        text-decoration: none;
        font-size: 25px;
        font-family: 'IBM Plex Serif', serif;
        padding: 10px;
      }
    }
  }
  
  .header {
    top: 0;
    left: 0;
    height: 130px;
    width: 100%;
    position: fixed;
    background-color: floralwhite;
  }
  
  .nav-links {
    text-align: center;
    width: 100%;
    
    ul li {
      list-style: none;
      display: inline-block;
      padding: 1rem;
  
      a {
        color: black;
        text-decoration: none;
        font-size: 20px;
        font-family: 'Josefin Sans', serif;
      }
  
      &::after {
        content: '';
        width: 0%;
        height: 2px;
        background: black;
        display: block;
        margin: auto;
        transition: 0.5s;
      }
  
      &:hover:after {
        width: 100%;
      }
    }
  }
  
  .header-burger {
    display: none;
  }
  
  @media (max-width: 767px) {
    .nav-links{
      ul li
      {
      display: none;
    }
  }

    .header-burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
  
      span {
        position: absolute;
        background-color: black;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
      }
  
      &:before, &:after {
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
      }
  
      &:before {
        top: 0;
      }
  
      &:after {
        bottom: 0;
      }
    }
  }
  
  .hr-line {
    padding: 0;
    height: 0;
    border: none;
  }
  
  .cover-image {
    // background-image: url("");
    background-position: center;
    background-attachment: fixed;
  
    /*-webkit-background-size: cover;*/
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    margin-top: 120px;
    height: 620px;
    width: 100%;
    left: 0;
    right: 0;
  }
  
  /******************************************************* About me **********************************************/
  
  .social-networks {
    /*text-align: center;*/
    bottom: 10px;
  
    ul li {
      list-style: none;
      display: inline-block;
      padding: 1rem;
    }
  }
  
  .about-me {
    background-color: floralwhite;
  }
  
  .title-about-me {
    color: black;
    text-align: center;
    font-family: 'IBM Plex Serif',serif;
    font-size: 30px;
  }
  
  .about-me-born, .about-me-university, .about-me-hobbies-skills {
    color: black;
    text-align: center;
    font-family: 'IBM Plex Serif',serif;
    font-size: 20px;
  }
  
  .inf-about {
    font-size: 20px;
    font-family: 'IBM Plex Serif',serif;
    padding: 40px;
  }
  
  .img-sea {
    margin-top: 15px;
    border-radius: 10px;
  }
  
  .inf-about {
    .born {
      background-color: powderblue;
      border-radius: 10px;
      width: 25%;
    }
  
    .university {
      background-color: thistle;
      border-radius: 10px;
      width: 25%;
    }
  
    .hobbies-skills {
      background-color: aquamarine;
      border-radius: 10px;
      width: 25%;
    }
  }
  
  /******************************************************* My projects **********************************************/
  
  .title-my-projects {
    display: block;
    color: black;
    text-align: center;
    font-family: 'IBM Plex Serif',serif;
    font-size: 30px;
  }
  
  .img-projects {
    display: block;
    width: 50%;
    border-radius: 10px;
  }
  
  /******************************************************* Contact me **********************************************/
  
  .title-contact-me {
    color: black;
    text-align: center;
    font-family: 'IBM Plex Serif',serif;
    font-size: 30px;
  }
  
  .contact-me {
    height: 400px;
    background-color: floralwhite;
    margin-bottom: 30px;
  }
  
  form {
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    padding: 10px;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }
  
  .box {
    /*position: relative;*/
    position: relative;
    height: 450px;
  
    .form-label {
      position: absolute;
    }
  }
  
  .form-label {
    font-family: 'Josefin Sans', serif;
    font-size: 18px;
  
    /*position: absolute;*/
    pointer-events: none;
    padding: 10px 0;
    top: 0;
    z-index: -1;
    color: #9e9e9e;
  }
  
  .form-control {
    text-align: center;
    border: none;
    background: transparent;
    outline: none;
    font-family: 'Josefin Sans', serif;
    font-size: 18px;
    border-bottom: 1px solid black;
    width: 50%;
    transition: 0.8s;
    margin-top: 50px;
  
    textarea {
      resize: none;
    }
  }
  
  /*
  .form-control:focus{
      border-bottom: 1px solid #1a73a8;
  }
  .form-control:focus ~.form-label{
      color: #e0e0e0;
      font-size: 12px;
      top: -18px;
  }*/
  
  form .submit {
    border: none;
    background-color: blanchedalmond;
    transition: 0.4s ease;
    border-radius: 1px;
    margin-top: 10px;
    width: 200px;
    height: 30px;
  
    &:hover {
      background-color: blanchedalmond;
      opacity: .8;
    }
  }